python-dotenv
langchain
langchain_core
langchain_community
openai
langchain_openai
langchain_google_genai
langchain_huggingface
transformers
sentence-transformers
huggingface_hub
numpy
scikit-learn
streamlit
pydantic
grandalf
pypdf
beautifulsoup4
langchain_experimental



